<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %> 
<body>
    <%- include('../partials/nav.ejs') %> 

    <div class="add-blog-form content">
        <form action="/blogs" method="POST">

            <label for="title">Blog title:</label>
            <input type="text" id="title" name="title">

            <label for="categories">Category:</label>
            <select name="categories" id="categories">
                <% categories.forEach(element => { %>
                    <option value="<%= element.name%>"><%= element.name %></option>
                <% }); %> 
            </select>

            <label for="author">Author:</label>
            <input type="text id" id="author" name="author">

            <label for="snippet">Snippet:</label>
            <input type="text" id="snippet" name="snippet">

            <label for="body">Blog body:</label>
            <textarea name="body" id="blog-body"></textarea>

            <button type="submit">Submit</button>
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>