<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>

    <div class="details content">
        <h2><%= blog.title %></h2>
        <p><%= blog.body %></p>
        <div class="author-container">
            <ion-icon name="person-circle-outline" class="author-icon"></ion-icon>
            <p><i><%= blog.author %></i></p>
            <p><%= blog.categories %> </p>
        </div>
        <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>
    <%- include('../partials/footer.ejs') %>

    <script>
        const deleteButton = document.querySelector('a.delete');

        deleteButton.addEventListener('click', (e) => {

            const endPoint = `/blogs/${deleteButton.dataset.doc}`;

            fetch(endPoint, {
                    method: 'DELETE'
                })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch((err) => {
                    console.log(err);
                })
        })
    </script>
</body>

</html>