<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>

    <%- include('../partials/nav.ejs') %>

    <div class="blogs-display content">
        <h2>All blogs</h2>
        <select name="categories" id="categories" class="index-categories">
            <option value="all" selected>All</option>
            <% categories.forEach(element => { %>
                <option value="<%= element.name%>"><%= element.name %></option>
            <% }); %> 
        </select>
        <% if(blogs.length > 0) {%>
        <% blogs.forEach(blog => { %>
        <div class="blogs">
            <a href="/blogs/<%= blog._id %>" class="single-articles">
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
                <p class="author"><i><%= "by " + blog.author %></i></p>
                <p class="date"><i><%= blog.date %> </i></p>
                <p class="article-category"><%= blog.categories %></p>
            </a>
        </div>
        <% }) %>
        <% }else { %>
        <p>There is no blogs.</p>
        <% } %>
    </div>
    <%- include('../partials/footer.ejs') %>

    <script>
            var category = document.getElementById('categories');

            category.addEventListener('click', function(e) {
                var keyWord, artList, artCat;

                keyWord = e.target.value.toLowerCase();
                artList = document.querySelectorAll('.single-articles');

                Array.from(artList).forEach(function(article){
                    artCat = article.lastElementChild.textContent.toLowerCase();
                    if(keyWord === artCat || keyWord === 'all'){
                        article.style.display = 'block';
                    }else{
                        article.style.display = 'none';
                    }
                });
            });
    </script>
</body>

</html>